<div class="sidebar">
  <a href="/">
    Home
  </a>

  <% if (user) { %>
    <a href="/products">
      Listings
    </a>

    <a href="/searchProducts">
      Search Products
    </a>

    <a href="/dashboard">
      Dashboard
    </a>

    <% if (user.role === 'seller') { %>
      <a href="/products/new">
        Add Product
      </a>
    <% } %>
  <% } %>
</div>